.l-ah-user-about-wrap {
  background-color: $white;
  .l-ah-user-about {
    margin: 5rem 0;
  
    .l-ah-user-thumbnail {
      .thumbnail {
        @extend .thumbnail;
        width: 20rem;
        height: 20rem;
      }
    }
  
    .l-ah-user-info {
      margin-left: 3rem;
      flex-grow: 1;
  
      p {
        margin: 0 0 2rem;
      }
  
  
  
      .header-title {
        font-size: 2rem;
        opacity: 1;
      }
  
      .user-name {
        font-size: 4rem;
        font-weight: 600;
        opacity: 1;
      }
    }
  }
}
