.index {
  height: 80rem;
  background: url("../imgs/bg.jpg") no-repeat;
  background-position: 0 0;
  background-size: cover;

  .l-ah-2 {
    height: 100%;
    @include flex-center(start, flex-end);
    position: relative;
    background-color: $dark-gray;
    padding-left: 30rem;
    background: url("../imgs/bg.jpg") no-repeat;
    background-position: 0 0;
    background-size: cover;

    img {
      position: absolute;
      right: 0;
      top: 0;
    }

    .hero-inner {
      display: inline-block;
      margin-bottom: 15rem;

      h1 {
        font-size: $hero-font-size;
        letter-spacing: 0rem;
        margin-top: -1rem;
        padding-top: 0;
        width: 80rem;
      }

      p {
        font-size: $book-font-size;
        width: 60rem;
        margin-top: 2rem;
        letter-spacing: 0;
        line-height: 2.2rem
      }
    }
  }

  .l-ah-3 {
    padding: 10rem 0 15rem;
    border-bottom: 1px solid $dark-gray;
    
    .l-ah-bg-card {
      figcaption {
        padding: 0 5rem 0 2rem;
        p {
          font-size: $book-font-size;
        }
      }
    }

    .l-ah-sm-card-wrap {
      background-color: $dark-gray;
      height: 100%;
      padding: 2rem;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      border-bottom: 10px solid $darker-gray;

      .l-ah-sm-card {
        margin-bottom: 1rem;
        figure {
          margin: 0;
        }
        figcaption {
          padding: 0 2rem;
        }
      }
    }
  }

  .l-ah-4 {
    padding: 15rem 0;
    position: relative;

    .pattern {
      position: absolute;
      left: 0;
      top: -10rem;
    }

    .l-ah-card {
      background-color: $white;
      padding: 2rem;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.17);
      border-bottom: 10px solid $darker-gray;

      figcaption {
        padding: 2rem 0 0;
        h4 {
          padding: 0 0 1rem;
        }
      }
    }

    .l-ah-sm-card-wrap {
      background-color: $white;
      height: 100%;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.17);
      padding: 3rem 0;

      .l-ah-sm-card {
        padding: 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid $dark-gray;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
        }

        &:hover {
          background-color: $light-gray;
          cursor: pointer;
        }
  
        figure {
          margin: 0;
        }
  
        figcaption {
          padding-left: 1rem;
  
          h5 {
          }
        }
      }
    }
  }

  .l-ah-slider {
    position: relative;
    padding: 0 0 15rem;
    .slick-arrow {
      position: absolute!important;
      top: 0;
      z-index: 99;

      &::before {
        font-size: 6rem;
        color: $primary;
      }
    }
    .slick-prev {
      left: 5rem;
      top: 50%;
    }
    .slick-next {
      right: 10rem;
      top: 50%;
    }
  }
  .l-ah-title {
    margin-bottom: 6rem;
    color: lighten($color: #000000, $amount: 0);
  }
}
