.l-ah-share-wrap {
  position: absolute;
  left: -10rem;
  top: 6rem;

  p {
    font-weight: 600;
    border-bottom: 1px solid $darker-gray;

  }

  .l-ah-share {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
  
    .l-ah-share-icon {
      text-align: center;
    }
  }
}
