/********* base styling *********/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
html {
  font-size: $base-font-size;
}

body {
  font-size: $sm-font-size;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  background-color: $light-gray;
  letter-spacing: .05rem;
  line-height: 2rem;
}

p {
  font-size: $sm-font-size;
  letter-spacing: 0;
  line-height: 2.2rem
  
}

h1 {
  font-size: $hero-font-size;
  font-weight: 900;
  font-family: 'Archer';
}

h2 {
  font-size: $big-font-size;
  font-weight: 900;
  font-family: 'Archer';
}

h3 {
  font-size: $title-font-size;
  font-weight: 600;
  font-family: 'Archer';
}

h4 {
  font-size: $title-font-size;
  font-weight: 600;
  font-family: 'Archer';
}

h5 {
  font-size: $sm-title-font-size;
  font-weight: 600;
  font-family: 'Archer';
}
.thumbnail {
  width: 4rem;
  height: 4rem;
  background-color: $dark-gray;
  border-radius: 50%;
}
