/********* base styling *********/

@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');

html {
  font-size: $base-font-size;
}

body {
  font-size: $sm-font-size;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  background-color: $light-gray;
  letter-spacing: .05rem;
  line-height: 2rem;
}

p {
  font-size: $sm-font-size;
  letter-spacing: 0;
  line-height: 2.2rem;
  opacity: .6;
}

h1 {
  font-size: $hero-font-size;
  font-weight: 700;
}

h2 {
  font-size: $big-font-size;
  font-weight: 700;
}

h3 {
  font-size: $title-font-size;
  font-weight: 700;
  
}

h4 {
  font-size: $title-font-size;
  font-weight: 700;
}

h5 {
  font-size: $sm-title-font-size;
  font-weight: 600;
}

.thumbnail {
  width: 4rem;
  height: 4rem;
  background-color: $dark-gray;
  border-radius: 50%;
}
