/********* base styling *********/

// color variables
// color variables
$primary: #0FC86F;
$sec: #4C97CB;
$white: #ffffff;
$light-gray: #fafafa;
$dark-gray: #ECECEC;
$darker-gray: #DBDBDB;
$dark: #222222;

// typography variables
$base-font-size: 62.5%;
$xs-font-size: 1.2rem;
$sm-font-size: 1.6rem;
$md-font-size: 1.8rem;
$book-font-size: 2rem;
$sm-title-font-size: 1.8rem;
$title-font-size: 2.5rem;
$big-font-size: 3.5rem;
$hero-font-size: 6.4rem;