.l-ah-profile-header {
  margin-top: 15rem;

  .profile-section-one {
    padding: 1rem 0;
    background-color: $primary;
    color: $white;

    .profile-image {
      width: 25rem;
      position: relative;

      .thumbnail {
        height: 20rem;
        width: 20rem;
        position: absolute;
        top: -6.5rem;
        left: 2rem;
        border: 4px solid $white;
      }
    }

    .user-details {
      h3 {
        font-size: $big-font-size;
        font-weight: 900;
      }
      p {
        margin: 0;
        font-weight: 900;
        opacity: 1;
      }
    }
  }
 
  .profile-section-two {
    padding: 1rem 0;
    background-color: $darker-gray;
    .spacing-image {
      width: 25rem;
    }

    .profile-stat {
      border-right: 1px solid $white;
      padding: 0 1.5rem;

      p {
        margin: 0;

        span {
          background-color: $white;
          padding: .2rem .7rem;
          margin-left: 1rem;
          border-radius: 5px;
          font-size: $xs-font-size;
          font-weight: 900;
        }
      }
    }

    .chat {
      background-color: lighten($primary, 50);
      margin-left: 2rem;
      border-radius: 30px;
      cursor: pointer;

      p i {
        padding-right: .5rem;
        font-size: $xs-font-size;
      }
    }

    .profile-edit-cta {
      border: 0;
      flex-grow: 1;
      text-align: right;
      position: relative;

      p {
        background-color: $white;
        padding: .2rem 1.5rem;
        border-radius: 30px;
        cursor: pointer;
        border: 1px solid $primary;
        color: $primary;
        display: inline-block;
        opacity: 1;

        .fas {
          margin-right: .5rem;
        }
      }

      .edit-ctn {
        position: absolute;
        right: 1.5rem;
        top: 0rem;
        display: none;

        .edit-cancel {
          background: none;
          border: 1px solid $dark;
          color:  $dark;
          margin-right: 1rem;
        }
      }
    }
  }
}
