.btn {
  @include custom-button(1.5rem, 6rem, $white, $primary);
  font-size: $book-font-size;
  border-radius: 30px;
  margin-top: 2rem;
  font-weight: 600;
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.25);
}

.follow-btn {
  @include custom-button(.5rem, 3rem, $primary);
  border: 1px solid $primary;
  border-radius: 4px;

}

.publish-btn {
  @include custom-button(.5rem, 3rem, $white, $primary);
  padding: 0.7rem 3rem;
  margin-right: 2rem;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.discard-btn {
  @include custom-button(.5rem, 3rem, $white, $primary);
  border: 0;
  font-weight: 600;
}

.publish-ready-btn{
  @include custom-button(1rem, 3rem, $primary);
  border: 1px solid $primary;
  border-radius: 30px;
  position: fixed;
  top: 10rem;
  right: 5rem;
  z-index: 2;

}
