.profile-sidebar {
  border-right: 1px solid $darker-gray;
  padding-top: 5rem 0;
  padding-right: 3rem;
  position: relative;
  
  .sidebar-title {
    border-bottom: 1px solid $darker-gray;
    margin-bottom: 2rem;

    .fas {
      font-size: $sm-font-size;
      margin-right: .5rem;
    }

    span {
      font-size: $sm-font-size;
      margin-right: 1rem;
      font-weight: 400;
    }

    p {
      text-align: right;
      flex-grow: 1;
      font-weight: 600;
    }
  }

  .profile-intro {
    padding-top: 5rem;
    .inner-title {
      margin: 0;
      font-weight: 400;
      color: $dark;

      .fa-calendar-alt {
        color: $primary;
        margin-right: 1rem;
      }

      span {
        margin-left: 1rem;
        font-style: italic;
      }
    }

    p {
      opacity: 1;
      color: $primary;
    }

    .profile-bio {
      border: 1px solid $darker-gray;
      background-color: $white;
      padding: 1rem;
      border-radius: 4px;
      margin: 0 0 2rem;
    }
  }

  .profile-edit-cont {
    padding: 3rem 2rem;
    margin: 0;
    background-color: lighten($primary, 50);
    width: 100%;
    display: none;

    .form-control {
      padding: 2rem 1rem;
      font-size: $sm-font-size;
      margin-bottom: 1.5rem;
      border: 1px solid $primary;
      background-color: $white;
    }

    .fullname {
      font-size: $book-font-size;
      font-weight: 600;
      margin-bottom: 0;
    }

    .username {
      background: none;
      border: 0;
      padding: 0;
      cursor: pointer;
    }

    .textarea {
      margin: 0;
      padding-top: 0;
    }
  }

  .profile-bookmark {
    margin: 5rem 0 0;

    .l-ah-sm-card {
      margin-bottom: 1rem;

      figure {
        width: 8rem;
      }

      figcaption {
        margin-left: 1rem;

        h5 {
          font-size: $sm-font-size;
        }

        .details-sm {
          font-size: $xs-font-size;
          border-top: 1px solid $darker-gray;
          padding-top: .5rem;

          .notice {
            margin-left: 1rem;
            font-style: italic;

            .date {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .profile-follow-wrap {
    margin: 5rem 0 0;

    .follow-log {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      grid-auto-rows: 1fr;
      grid-gap: .5rem;

      &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }

      & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
      }

      .log-thumbnail {
        border-radius: 0;
        background-color: $darker-gray;
        position: relative;
         &::after {
           content: "";
           position: absolute;
           width: 100%;
           height: 100%;
           background: linear-gradient(360deg, rgba(0, 0, 0, 0.39) 0%, transparent 50%);;
         }

        p {
          word-wrap: break-word;
          position: absolute;
          bottom: 0;
          left: .5rem;
          font-weight: 600;
          margin-bottom: .5rem;
          color: $white;
          opacity: 1;
          z-index: 5;
        }
      }
    }
  }

  .profile-footer {
    margin: 10rem 0 0;
    padding: 2rem 0 5rem;
    border-top: 1px solid $darker-gray;
  }
}
