.l-ah-1 {
  display: grid;
  grid-template-columns: 24rem 1fr auto;
  padding: 2rem 5rem;
  background-color: $primary;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  
  .index-link, .dashboard-menu {
    position: relative;
    
    .nav {

      .nav-item {

        a {
          color: $white;
          font-weight: 600;
          padding: 1rem 3rem;
          
          &:hover {
          background: none;
        }
        }
      }

      .signup {
        border: 1px solid $primary;
        border-radius: 30px;
        background-color: $white;
        margin-left: 1rem;
        a {
          color: $primary;
          font-weight: 900;
        }
      }
    }
  }

  .dashboard-menu {
    @include flex-center();
    padding-left: 7rem;

    .thumbnail {
      @extend .thumbnail;
    }

    .nav {
      .nav-item {
        a {
          color: $white;
          font-weight: 600;
          padding: 1rem;
          
          &:hover {
          background: none;
          }

          .fa-bell {
            font-size: $book-font-size;
            position: relative;
            margin-right: 1rem;

            &::after {
              content: "";
              position: absolute;
              display: block;
              height: 1.5rem;
              width: 1.5rem;
              background-color: red;
              border-radius: 50%;
              top: -.5rem;
              right: -.5rem;
              border: 3px solid $primary;
            }
          }
        }
      }
    }

    .icon-wrap {
      padding-left: 2rem;
      .icon {
        cursor: pointer;
        width: 4rem;
        height: 3rem;

        .line {
          width: 90%;
          height: 4px;
          margin: 0 auto;
          top: 50%;
          background-color: $white;
          position: relative;
          transform: translateY(-50%);

          &::after, &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            display: block;
            background-color: $white;
          }

          &::after {
            top: 10px;
          } 

          &::before {
            top: -10px;
          }          
        }
      }
    }
  }
}
